html, body, div {
  border:0;
  padding:0;
  margin:0;
}
html,body {
  height:100%;
}
div, p {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#gameSpace {
  /*
  background: url(images/fondos/1.jpg) 0 0 no-repeat;
  background-attachment: fixed;
  background-size: 100% ;
  */
  background: black;
  min-height: 100%;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
#gameSpace #background {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#startSplash, #endSplash {
  width: 100%;
  position: absolute;
  top: 125px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-rendering: optimizelegibility;
  color: rgb(231, 247, 255);
  padding: 10px;
  line-height: 1.2vw;
  text-transform: none;
  text-shadow:0 5px 5px rgba(0,0,0,0.4);
  text-align: center;
  margin-top: 2vw;
  border:1px solid rgba(0,0,0,0.3);
  box-shadow:0 5px 5px rgba(0,0,0,0.4), inset 0 12px 10px -4.5px rgba(0,0,0,0.2);
  background-color: rgba(145, 42, 136, 0.5);
  border: 1px solid rgba(255,255,255,0.2);
  border-left: none;
  border-right: none;
  padding: 2%;
}
}
#questionLabel {
  height: 7.2vw;
  pointer-events: none;
}

#questionLabel .centro {
  background-image:url(images/ribete.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size:cover;
  width: 14vw;
  height: 7.2vw;
  left: 43%;
  position: absolute;
}

#questionLabel .izq {
  background-image: url(images/ribetei.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:cover;
  width: 4vw;
  height: 4vw;
  margin-bottom: 1%;
  left: 0;
  position: absolute; 
}

#questionLabel .der{
  background-image:url(images/ribeted.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:cover;
  width: 4vw;
  height: 4vw;
  right: 0;
  position: absolute;
}

.centrobtm {
  background-image:url(images/ribetebtm.png);
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size:cover;
  width: 8vw;
  height: 4vw;
  left: 42%;
  position: relative;
  float:left;
}

.izqbtm {
  background-image: url(images/ribeteibtm.png);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size:cover;
  width: 4vw;
  height: 4vw;
  left: 0;
  position: relative; 
  float:left;
}

.derbtm{
  background-image:url(images/ribetedbtm.png);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size:cover;
  width: 4vw;
  height: 4vw;
  right: 0;
  position: relative;
  float:right;
}



#questionLabel .numcontainer{
  background: url(images/estampa.png) 0 0 no-repeat;
  background-size: 100%;
  position: absolute;
  left: 45%;
  top: 2vw;
  width: 10%;
  /*height: 23%;*/
  color: rgba(145, 42, 136, 1);
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  font-size: 4vw;
  text-rendering: optimizelegibility;
  line-height: 10vw;
  text-align: center;
}

#questionBox {
  /*width: 100%;*/
  position: absolute;
  /*background-color: blue;*/
  top: 125px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-rendering: optimizelegibility;
  color: rgb(231, 247, 255);
  /*background: #d8d8d8;
  background: rgba(100, 0, 72, 0.52);
  box-shadow: 12px 0 0 0 rgba(100, 0, 72, 0.52),-12px 0 0 0 rgba(100, 0, 72, 0.52);*/
  padding: 10px;
  line-height: 4vw;
  text-transform: none;
  text-shadow:0 5px 5px rgba(0,0,0,0.4);
  text-align: center;
  margin-top: 2vw;

  border:1px solid rgba(0,0,0,0.3);
  box-shadow:0 5px 5px rgba(0,0,0,0.4), inset 0 12px 10px -4.5px rgba(0,0,0,0.2);
  background-color: rgba(145, 42, 136, 0.5);
  border: 1px solid rgba(255,255,255,0.2);
  border-left: none;
  border-right: none;
  padding: 2%;
  pointer-events: none;
}
#questionBox > #consigna {
  font-size: 4vw;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-rendering: optimizelegibility;
  color: rgb(231, 247, 255);
  /*background: #d8d8d8;
  background: rgba(100, 0, 72, 0.52);
  box-shadow: 12px 0 0 0 rgba(100, 0, 72, 0.52),-12px 0 0 0 rgba(100, 0, 72, 0.52);*/
  padding: 10px;
  line-height: 4.5vw;
  text-transform: none;
  text-shadow:0 5px 5px rgba(0,0,0,0.4);
  text-align: center;
  margin: 1vw 0 0 0;
}

.calificacion {
  pointer-events: none;
}


.remate {
  pointer-events: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  line-height: normal;
}

.cta {
  height: 7.2vw;
  min-width:10vw;
  max-width: 40vw;
  /*position: absolute;*/
  margin-left: auto;
  margin-right:auto;
  pointer-events: none;
}

.cta .centro {
  background:whitesmoke;
  height: 7.2vw;
  margin-left: 7.1vw;
  margin-right: 7.2vw;
  text-align: center;
  border-top: 1 solid white;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2) inset;
  border-radius: 5px;
  min-width: 10vw;
  max-width: 30vw;
}
.cta .centro p {
  color:rgba(145, 42, 136, 1);
  padding: 2vw 0;
  font-size:3vw;
  line-height: 3.5vw;
}

.cta .izq {
  background-image: url(images/ribeted.png);
  background-position:0 3px;
  background-repeat: no-repeat;
  background-size:cover;
  width: 7.2vw;
  height: 7.2vw;
  float: left; 
}

.cta .der {
  background-image:url(images/ribetei.png);
  background-position:0 3px;
  background-repeat: no-repeat;
  background-size:cover;
  width: 7.2vw;
  height: 7.2vw;
  float: right;
  margin-top:-7.2vw;
}


#responseSplash {
  width: 100%;
  position: absolute;
  top: 50px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-rendering: optimizelegibility;
  color: rgb(231, 247, 255);
  padding: 10px;
  line-height: 1.2vw;
  text-transform: none;
  text-shadow:0 5px 5px rgba(0,0,0,0.4);
  text-align: center;
  margin-top: 4vw;
  border:1px solid rgba(0,0,0,0.3);
  box-shadow:0 5px 5px rgba(0,0,0,0.4), inset 0 12px 10px -4.5px rgba(0,0,0,0.2);
  background-color: rgba(145, 42, 136, 0.5);
  border: 1px solid rgba(255,255,255,0.2);
  border-left: none;
  border-right: none;
  padding: 2%;
}
#startSplash .title{
  font-family: 'Rye', cursive;
  font-size: 7vw;
  margin: 3vw 0;
}
 #responseSplash .calificacion{
  font-family: 'Rye', cursive;
  font-size: 4vw;
}
 .result{
  font-family: 'Rye', cursive;
  font-size: 4vw;
}
.respuesta {
  position: absolute;
  top: 67%;
  width: 25%;
  /*height: 22%;*/
}

.respuesta .opciones {
  padding: 5%;
  border:1px solid rgba(0,0,0,0.3);
  box-shadow:0 5px 5px rgba(0,0,0,0.4), inset 0  12px 10px -4.5px rgba(0,0,0,0.5);
  background-color: rgba(145, 42, 136, 0.5);
  border: 1px solid rgba(255,255,255,0.2);
  text-align: center;
}

.opciones > p {
    font-size: 2vw;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-rendering: optimizelegibility;
    color: white;
    padding: 0 10px 10px;
    line-height: 2.5vw;
    text-transform: none;
    text-shadow:0 7px 5px rgba(0,0,0,0.4);
    margin: 0;
}
.opciones .boton {
  background: url(images/boton.png) 0 0 no-repeat;
  background-size: 100%;
  /*position: absolute;
  left: 45.5%;
  top: 4%;*/
  width: 8vw;
  height: 8vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1%;
}

#opcion1 {left: 6%;}
#opcion2 {left: 37%;}
#opcion3 {left: 68%;}


#errorSplash {
  border: 2px solid yellow;
  position: absolute;
  background: red;
  width: 50%;
  height: 50%;
  text-align': center;
  font-size': 20px;
  color: white;

}


.roundUpLabelQuestion{ 
  text-align: left;
  width:55%;
  float:left;
 font-size: 1vw;}
.roundUpScoreQuestion{
  width:45%;
  float:right;
  text-align:right;
  font-family: 'Rye', cursive;
  font-size: 2vw;
  margin-bottom:1vw; }

.roundUpLabelTimebonus{
  text-align: left;
  width:55%;
  float:left;
 font-size: 1vw;

  margin-bottom:1vw;}
.roundUpScoreTimebonus{
  width:45%;
  float:right;
  text-align:right;
  font-family: 'Rye', cursive;
  font-size: 2vw;
  margin-bottom:1vw;}

.roundUpLabelSum{
  text-align: left;
  width:55%;
  float:left;
 font-size: 1vw;

  margin-bottom:1vw;}
.roundUpScoreSum{
  width:45%;
  float:right;
  text-align:right;
  font-family: 'Rye', cursive;
  font-size: 2vw;}

.finalScoreLabel{
  font-size: 3vw;
  margin-bottom:3vw;
}
.finalScore{
  font-family: 'Rye', cursive;
  font-size: 4vw;
  margin-bottom:2vw;
}
#newHiScoreBadge .label{
  font-family: 'Rye', cursive;
}

.resultTip{ 
  font-size:1.5vw;
  line-height: 1.8vw;
  max-width: 70%;
margin-right: auto;
margin-left: auto;}

#hiScoreBox{
  position:absolute;
  left: 9vw;
  top: 5px;
  font-family: 'Fjalla One', sans-serif;
  color:white;
  text-shadow:0 0 2px black;
font-size: 1.3vw;}

#hiScore{
  font-family: 'Rye', cursive;
}

#bg{
  width: 100%;
  min-height: 100%;
  background: url(images/bg.png) repeat;
  background-size: 4px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0px 4px white inset ;
}